{% extends "layout.html" %}


{% block head %} {% endblock %}
{% block title %}RPA Dashboard {% endblock %}

{% block body %}
<h2 class="my-4">Welcome {{ current_user }}</h2>


<table class="my-4  table table-striped table-hover table-light">
    <thead>
        <tr class="bg-dark" style="color:white;">

            <th scope="col">TASK</th>
            <th scope="col">Description</th>
            <th scope="col">Assigned Date</th>
  
            <th scope="col">     Visuals</th>
       
            <th scope="col">Status</th>
           
        </tr>
    </thead>
  
    <tbody>

        {% for task in tasks.items %}
        <tr>



            <!-- <th scope="row"><a href="/graph/{{ task.id }}/{{ task.name}}"> -->
    <th scope="row" class="font-weight-bold text-primary">
                    {{ task.name }}
                </th>
            <td>{{ task.description |safe }}</td>
            <td class="m-auto">{{ start_date[:11]|safe }}</td>

            <!-- 
    
    info : active state
     danger: pending state
     success: completed state

 enum : ( status , category): task.status.value[0],task.status.value[1] -->
            
   <!--  if the task is pending then disable the button for view details  -->
      {% if "document" not in task.bot_assigned.lower() %}     
       {% if task.status.value[0] not in ['COMPLETED','ACTIVE']  %}  

          <td><a href="/visuals/{{ task.id}}/{{ task.sheet_name }}/{{ task.name }}" class="btn btn-primary btn-sm btn-block disabled aria-disabled="true" >No View</a></td>


          {% else %}
          <td><a href="/visuals/{{ task.id}}/{{ task.sheet_name }}/{{ task.name }}" class="btn btn-primary btn-block">     View</a></td>


          {% endif %} 

          {% else %}
          <td><a href="#" class="btn btn-secondary btn-block btn-sm disabled aria-disabled="true" >No View</a></td>

        {% endif %} 
          <td><a href="#" class="btn btn-outline-{{ task.status.value[1] }} btn-block">{{ task.status.value[0] }}</a></td>

          </tr>

        {% endfor %}
 

    </tbody>


</table>


    
        
 



   
        {% if tasks.prev_num == None and tasks.next_num == None %}
          {% set page = 1 %}
        
        {% else %}
          {% if tasks.prev_num == None %}
            {% set page = 1 %}
         {% else %}

          {% set page= tasks.prev_num + 1 %}

        {% endif %}

        {% endif %}

        <div class="text-center">

            
          
          <a class="btn  btn-secondary btn-lg" href="/task?page={{ page }}">Assign a new task</a>
        
        </div>
      
      
        <ul class="pagination">
  
        {% if tasks.has_prev %}
      
          <li class="page-item"> <a class="page-link" href="{{ url_for('dashboard', page=tasks.prev_num) }}">Previous</a></li>
        {% else %}
        
          <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
        {% endif %}
       

        {% if tasks.has_next %}
       
          <li class="page-item"> <a class="page-link" href="{{ url_for('dashboard', page=tasks.next_num) }}">Next</a></li>
        {% else %}
          <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
        {% endif %}

    
    
    </ul>


    {% block footer %} 
            {% endblock %}
            

            {% endblock %} 
            
            

