<div style="margin-bottom:-112;">
<footer class="footer pt-3 bg-dark ">

    <!-- <div class="row">
        <div class="col-12 col-md">
        <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> -->
    <!-- <small class="d-block mb-3 text-muted">&copy; RPA Assistant 2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Cool stuff</a></li>
                <li><a class="text-muted" href="#">Random feature</a></li>
                <li><a class="text-muted" href="#">Team feature</a></li>
                <li><a class="text-muted" href="#">Stuff for developers</a></li>
                <li><a class="text-muted" href="#">Another one</a></li>
                <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Resource name</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div> -->




        <div class="text-white container">

            <div class="row">
                <div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
                    <img class="logo-footer"
                        src="https://static.wixstatic.com/media/ffbe23_112354bfda9c4465b3e20b9536425a6c~mv2.png/v1/fill/w_370,h_252,al_c,q_85,usm_0.66_1.00_0.01/Capture2_PNG.webp"
                        width="120">
                    <p>
                        We are a young company always looking for new and creative ideas to help you with our products
                        in your
                        everyday work.
                    </p>
                    <p><a href="/about">Our Team</a></p>
                </div>
                <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                    <h2 style="font-family: 'Lobster', cursive;">Contact</h2>
                    <p><i class="fas fa-map-marker-alt"></i> Miet Jammu</p>
                    <p><i class="fas fa-phone"></i> Phone: (0039) 333 12 68 347</p>
                    <p><i class="fas fa-envelope"></i> Email: <a
                            href="mailto:facultyrpa@gmail.com">facultyassistant@gmail.com</a>
                    </p>
                    <p><i class="fab fa-skype"></i> Skype: rpa_online</p>
                </div>
                <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
                    <h2 style="font-family: 'Lobster', cursive;">Follow us on</h2>

                    <div class="container">
                        <div class="row">
                            <div class="col-auto">
                                <i class="fa fa-lg fa-twitter"></i>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-lg fa-facebook-square"></i>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-lg fa-instagram"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
 
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5 footer-copyright">
                    <p class="text-white">&copy; All Rights Reserved to <a href="#">Faculty
                            Assistant</a></p>
                </div>
            </div>
        </div>
    </div>


</footer> </div>